<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="../../Controllers/scriptExemplar.js" type="text/javascript"></script>
    <script src="../../Controllers/mascaras.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../../assets/css/styleCadExemplar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>

<body>
    <header>
        <img src="../../assets/img/img_software.png" class="imgLogo" />
        <nav>
            <ul class="menu">
                <li><a href="../home/index.html">HOME</a></li>
                <li><a href="#" class="client">CLIENTE</a>
                    <ul>
                        <li><a href="../cliente/telaCadCliente.html">Cadastrar Cliente</a></li>
                        <li><a href="../cliente/telaBuscaCliente.html">Buscar Cliente</a></li>
                        <li><a href="../cliente/telaAlterarCliente.html">Alterar Cliente</a></li>
                        <li><a href="../cliente/telaExcluirCliente.html">Excluir Cliente</a></li>
                    </ul>
                </li>
                <li><a href="#" class="client">EXEMPLARES</a>
                    <ul>
                        <li><a href="../Exemplar/telaCadExemplar.html">Cadastrar Exemplar</a></li>
                        <li><a href="../Exemplar/telaBuscaExemplar.html">Buscar Exemplar</a></li>
                        <li><a href="../Exemplar/telaAlterarExemplar.html">Alterar Exemplar</a></li>
                        <li><a href="../Exemplar/telaExcluirExemplar.html">Excluir Exemplar</a></li>
                        <li><a href="../Exemplar/telaCompraExemplar.html">Comprar Exemplar</a></li>
                    </ul>
                </li>
                <li><a href="../emprestimo/telaCadEmprestimo.html">EMPRÉSTIMO</a></li>
                <li><a href="#">BAIXA</a></li>
                <li>
                    <a href="#">EFETUAR ENTRADA</a>
                    <ul>
                        <li><a href="cadastroEntradaPedido.html">Cadastrar Pedido</a></li>
                        <li><a href="../entradaPedido/efetuarEntradaPedido.html">Efetuar Entrada de Pedido</a></li>
                    </ul>
                </li>
                <li><a href="#">RELATÓRIOS</a></li>
            </ul>
        </nav>
        <div class="profile"><a href="../../index.html"><img src="../../assets/img/Edit Profile.png" /></a></div>
    </header>

    <div class="container">
        <p class="tittle">Cadastro Exemplar</p>
        <div class="containerForm">
            <form method="post" id="formCadastaExemplar" enctype="multipart/form-data">
                <div class="filtros">
                    <div class="containerInput">
                        <label for="status">Status: </label>
                        <input type="text" id="status" name="status" >
                    </div>
                    <div class="containerInput">
                        <label for="titulo">Titulo: </label>
                        <input type="text" id="titulo" name="titulo" >
                    </div>
                    <div class="containerInput">
                        <label for="data">Data: </label>
                        <input type="date" id="data" name="data"  value="2017-06-01">
                    </div>
                    <div>
                        <button class="buttonWrapper" onclick="buscar()">Buscar</button>
                    </div>
                </div>
            </form>
            <div class="tableWrapper">
                <table border="2">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Edição</th>
                            <th>Genero</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footerLibrary">
        <p>@UNOLIBRARY</p>
    </div>
</body>

</html>