@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Reset */

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
blockquote,
dl,
dd,
fieldset,
legend,
button,
input,
textarea,
pre,
blockquote,
address {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
}

ol, ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
}

/* Estilização */

body {
    background: #92B1CB;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;

    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.img_box {
    background: #afc7d4;

    width: 50%;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form_box {
    background: hsl(207, 100%, 98%);

    width: 50%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_log_emp {
    width: 80%;
    height: auto;
}

@media screen and (max-width: 768px) {
    /*Tela até 768px*/

    .container {
        flex-direction: column;
    }

    .img_box,
    .form_box {
        width: 100%;
        height: 30vh;
    }
}

.title_1 {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    /*Tela até 600px*/

    .title_1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    /*Tela até 400px*/

    .title_1 {
        font-size: 12px;
    }
}

.form_title h1::after {
    background-color: #afc7d4;
    content: '';

    display: block;

    width: 5rem;
    height: 0.3rem;

    margin: 0 auto;
    position: absolute;

    border-radius: 10px;
}

#formEmp {
    margin: 2%;
}

.form_fields {
    margin-top: 10%;
    width: 100%;
}

input {
    max-width: 100%;
}

.field {
    display: flex;
    flex-direction: column;

    margin-bottom: 4%;
}

.field input {
    background-color: #c4d7e6;
    
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #0000001c;
    font-size: 0.8rem;
}

.field label {
    font-size: 0.75rem;
    font-weight: 600;

    color: #000000c0;
}

.field input:hover {
    background-color: #eeeeee75;
}

.field input:focus-visible {
    outline: 1px solid #6c63ff;
}

.continue-button button {
    background-color: #afc7d4;

    width: 100%;
    margin-top: 5%;

    border: none;
    padding: 0.62rem;

    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.alert-container {
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 9999;
}